/*This sheet is connected*/
/* important css */
*{font-family: 'Arima Madurai', cursive;}
input{cursor: text;}
#Board{cursor: pointer;}

#FenInDiv {
    position: relative;
    left: 60px;}

#fenIn {
    width: 480px;
    left: 60px;}

#Board {
    position: relative;
    top: 20px;
    left: 60px;
    width: 480px;
    height: 480px;
    border: 2px solid;}

#EngineOutput {
    position: absolute;
    left: 600px;
    top: 200px;}

.Square {
    position: absolute;
    width: 60px;
    height: 60px;}

.Dark {
    background-color: #FFFFFF;
}

.Light {
    background-color: #d4d4d4;
}

.SqSelected {
    background-color: #216778;
}

.rank1 { top: 420px; }
.rank2 { top: 360px; }
.rank3 { top: 300px; }
.rank4 { top: 240px; }
.rank5 { top: 180px; }
.rank6 { top: 120px; }
.rank7 { top: 60px; }
.rank8 { top: 0px; }

.file1 { left: 0px; }
.file2 { left: 60px; }
.file3 { left: 120px; }
.file4 { left: 180px; }
.file5 { left: 240px; }
.file6 { left: 300px; }
.file7 { left: 360px; }
.file8 { left: 420px; }

.Piece {
    position: absolute;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* not so important */
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
button{
     line-height: 12px;
     font-family: 'Arima Madurai', cursive;
     margin-top: 1px;
     margin-right: 2px;
}
input{font-family: 'Ubuntu', sans-serif;}
textarea:focus, input:focus {
    color: #cc2579;
    transition: 1s all ease;
  }

  input, select, textarea{
    color: #cc2579;
    transition: 1s all ease;
  }